@import 'markdown';

body {
  @apply antialiased;
  @apply subpixel-antialiased;
  
}

.main {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  // justify-content: start;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(0, 5px);
}

.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(0, 0);
}



.roboto-slab-regular {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400; 
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  color: #2c5282;
  letter-spacing: 0.125rem;
  text-transform: uppercase ;
  font-weight: 900 !important ;
}
